html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	user-select: none;
	font: message-box;
}
html, body, body > main {
	height: 100%;
}
body > main {
	display: flex;
	flex-direction: column;
}
